.grow-on-hover {
  transition:
    transform 150ms ease,
    box-shadow 100ms ease;

  &:hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.02);
    cursor: pointer;
  }
}

.link {
  color: var(--mantine-color-green-4);
  display: inline;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
}
.subgrid[data-columns="2"] {
  grid-column: span 2;
}
.subgrid[data-columns="3"] {
  grid-column: span 3;
}
.subgrid[data-columns="4"] {
  grid-column: span 4;
}
.subgrid[data-columns="5"] {
  grid-column: span 5;
}
.subgrid[data-columns="6"] {
  grid-column: span 6;
}
.subgrid[data-columns="7"] {
  grid-column: span 7;
}
.subgrid[data-columns="8"] {
  grid-column: span 8;
}
.subgrid[data-columns="9"] {
  grid-column: span 9;
}
.subgrid[data-columns="10"] {
  grid-column: span 10;
}
