.link {
  text-decoration: none;
}

.button {
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button svg {
  color: var(--mantine-color-dark-1);
}

.label {
  color: var(--mantine-color-dark-1) !important;
}

.button:not(.active):hover .label {
  color: var(--mantine-color-green-3) !important;
}

.button:not(.active):hover .icon {
  color: var(--mantine-color-green-3) !important;
}

.active .label {
  color: var(--mantine-color-green-3) !important;
}

.active svg,
.active:hover {
  color: var(--mantine-color-green-3);
}
